	<div class="main">
		<custom-header></custom-header>
		<div class="page-settings-wrap">
			<h2 class="page-title">Settings</h2>
			<form>
			<section class="settings-section account">
			<span class="section-title">ACCOUNT</span>
				<div class="section-left">
					<div class="user-avatar">
						<img src="img/avatar2.jpg">
					</div>

				</div>
				<div class="section-right">
					<input type="text" placeholder="Jessica Tuan">	
					<input type="text">
					<input type="text">
					<input type="text">
				</div>
			</section>
			<section class="settings-section">
			<span class="section-title">NOTIFICATIONS</span>
				<ul class="form-select-list">
					<li><switch></switch><span>email me when my posts are marked as favories</span></li>
					<li><switch></switch><span>email me when my posts are marked as favories</span></li>
					<li><switch></switch><span>email me when my posts are marked as favories</span></li>
					<li><switch></switch><span>email me when my posts are marked as favories</span></li>
				</ul>
			</section>
			<section class="settings-section">
			<span class="section-title">PRIVACY</span>
				<ul class="form-select-list">
					<li><radio></radio><span>email me when my posts are marked as favories</span></li>
					<li><radio></radio><span>email me when my posts are marked as favories</span></li>
					<li><radio></radio><span>email me when my posts are marked as favories</span></li>
					<li><radio></radio><span>email me when my posts are marked as favories</span></li>
				</ul>
			</section>
			<input type="submit" value="Save Changes" class="button">
			</form>
		</div>
	</div>
	<footer-nav></footer-nav>
	<message-box ng-if="overlay"></message-box>